<nav class="navbar navbar-defualt" style="background-color:#99cfd1">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand"><b>CloudWeather</b></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="monitoring"><b>RealTime Monitor</b></a></li>
        <li routerLinkActive="active"><a routerLink="history"><b>History</b></a></li>
      </ul>
    </div>
  </div>
</nav>